.crud-form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
}

.input-group.date, .input-group.time {
  .date-clear {
    position: absolute;
    right: 0px;
    z-index: 10;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
  }

  ::-ms-clear {
    display: none;
  }
}

.index .navbar {
  margin-bottom: 8px;
}

.index .table {
  margin-bottom: 10px;
}

.index .pagination {
  margin: 10px 0;
}

.datepicker-dropdown, .bootstrap-timepicker-widget {
  z-index: 1100 !important;
}

.modal-picker {
  .input-group {
    cursor: pointer;
    min-height: 30px;
  }

  .picker-label.multiple {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 3px;
    padding: 0 4px;
  }

  .picker-container {
    width: 100%;
  }

  .picker-placeholder {
    color: #999;
    display: none;
  }

  .picker-clear {
    color: #999;
    float: right;
    font-weight: bold;
    margin-right: 10px;

    &:hover {
      color: black;
    }
  }
}

.crud-table {
  th.selector, td.selector {
    width: 30px;
  }
}

span.chnage_hint_effect:not(:last-child)::after {
  content: ", ";
}
