.modal-picker {
  .input-group {
    cursor: pointer;
    min-height: 30px;
  }

  .picker-label.multiple {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 3px;
    padding: 0 4px;
  }

  .picker-container {
    width: 100%;
  }

  .picker-placeholder {
    color: #999;
    display: none;
  }

  .picker-clear {
    color: #999;
    float: right;
    font-weight: bold;
    margin-right: 10px;

    &:hover {
      color: black;
    }
  }
}

span.chnage_hint_effect:not(:last-child)::after {
  content: ", ";
}

@media (max-width: 576px) {
  [class*="col-"] {
      margin-bottom: 0.5em;
  }
}

.crud-table {
  border-radius: 4px;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ddd;
  thead tr th,
  tbody tr td {
    color: #555;
    vertical-align: middle;
    white-space: nowrap;
  }
  th.selector, td.selector {
    width: 30px;
  }
  thead.thead-light {
    background-color: #f0f3f5;
    tr th {
      border-top: none;
      border-bottom: 1px;
    }
    tr:first-child th:first-child {
      border-radius: 3px 0 0 0;
    }
    tr:first-child th:last-child {
      border-radius: 0 3px 0 0;
    }
  }
  tbody {
    tr td {
      border-color: #ddd;
    }
    tr:last-child th:first-child {
      border-radius: 0 0 0 3px;
    }
    tr:last-child th:last-child {
      border-radius: 0 0 3px 0;
    }
  }

  .crud-actions {
    width: 10px;

    .btn {
      color: #73818f;
      font-size: 18px;
      padding: 0px 6px;
    }
  }
}

.search-panel {
  padding: 0.5em;
  border-radius: 4px;
  background-color: #f0f0f0;
  .normal-section, .advanced-form-footer {
    display: flex;
  }
  .advanced-form {
    display: none;
  }
  #search-button {
    display: block;
  }
  &.do-filter {
    .advanced-form {
      display: block;
    }
    #search-button {
      display: none;
    }
    #filter {
      background-color: #179f08;
      color: white;
    }
  }
}

.btn-link.btn-cancel {
  &:focus, &:hover {
    text-decoration: none;
  }
}
