<div class="navbar-btn btn-group">
  <%= link_to_action :new, resource %>
  <%= link_to users_path(stored_params(:term, :sort_key, :sort_order, page: false, format: :csv, encoding: :sjis, line_break: :crlf)), class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-export"></i> CSV
  <% end %>
</div>
