@import "~@coreui/coreui/scss/coreui.scss";

body {
  background-color: white;
}

a {
  color: #4388b1;
}

.breadcrumb {
  background-color: $gray-100;
  margin-bottom: 0;
}

.main .container-fluid {
  padding: 0;
}

.card.plain {
  border: none;
  margin-bottom: 0;
}