<div class="navbar">
  <div class="navbar-btn navbar-right">
    <%= link_to_action :new, resource %>
  </div>

  <%= form_tag stored_params(:container, :sort_key, :sort_order, :per), class: "navbar-form form-search navbar-right", method: "GET", remote: @remote do %>
    <div class="input-group">
      <%= text_field_tag :term, params[:term], :class => "search-query form-control",
        :placeholder => t("crud.message.enter_search_term") %>
      <div class="input-group-btn">
        <button id="search-button" type="submit" class="btn btn-default">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  <% end %>
</div>
