<%= form_tag stored_params(:container, :sort_key, :sort_order, :per), class: "navbar-form form-search", method: "GET", remote: @remote do %>
  <div class="input-group">
    <% if enable_advanced_search? %>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle <%= @query.empty? ? "" : "active" %>" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" class="toggle-advanced-search"><span class="glyphicon glyphicon-cog"></span> <%= t("crud.message.advanced_search") %></a></li>
        </ul>
      </div>
    <% end %>
    <%= text_field_tag :term, params[:term], :class => "search-query form-control",
      :placeholder => t("crud.message.enter_search_term") %>
    <div class="input-group-btn">
      <button id="search-button" type="submit" class="btn btn-primary">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
<% end %>
