<div class="card plain">
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-sm-7">
        <h4 class="card-title mb-0"><%= @title %></h4>
      </div>
      <div class="col-sm-5">
        <div class="mr-auto">
        </div>
      </div>
    </div>
    <%= render 'form' %>
  </div>
</div>
