<h1><%= @title %></h1>

<dl class="dl-horizontal">
  <% columns.each do |column| %>
    <dt><%= model.human_attribute_name(column) %></dt>
    <dd><%= simple_format(resource.try(column)) %></dd>
  <% end %>
</dl>
