/*
 *= require ./datetimepicker
 *= require select2
 *= require ./select2-bootstrap
 */

.search-result {
  margin: 5px;
  line-height: 34px;
}

ul.pagination {
  margin: 5px 0;
}

.table-vcenter td {
  vertical-align: middle !important;
}
