/*
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-datepicker
 *= require bootstrap-timepicker
 */

 .crud-form-inline .crud-form-group {
   display: inline-block;
   margin-bottom: 0px;
   vertical-align: middle;
 }
