/*
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-datepicker
 *= require bootstrap-timepicker
 */

.crud-form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
}

.input-group .date-clear {
  position: absolute;
  right: 0px;
  z-index: 10;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
}

.index .navbar {
  margin-bottom: 8px;
}

.index .table {
  margin-bottom: 10px;
}

.index .pagination {
  margin: 10px 0;
}

.datepicker-dropdown, .bootstrap-timepicker-widget {
  z-index: 1100 !important;
}
