<div class="row">
  <% orm_models.each do |model| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= model.model_name.human %></h3>
        </div>
        <div id="<%= model.model_name.plural %>" class="panel-body">
          <%= link_to "Ajax load", polymorphic_path(model, container: model.model_name.plural), remote: true %>
        </div>
      </div>
    </div>
  <% end %>
</div>
